<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estacao.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/padrao.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">
</head>
<body>
    <div class="flex">
        <aside>
            <div class="button-aside">
                <p>X</p>
            </div><!--button-aside-->
            <div class="abrir-menu">
                <p><i class="fa-solid fa-bars"></i></p>
            </div><!--abrir-menu-->
            <ul>
                <li><h2>Vendas</h2></li>
                <li><a href="./">Por Mês</a></li>
                <li><a href="estacao">Por Estação</a></li>
                <li><h2>Gerenciar</h2></li>
                <li><a href="vender">Cadastrar Venda</a></li>
                <li><a href="deletar">Deletar</a></li>
            </ul>
        </aside>
        <main>
            <header>
                <h1>Mais Vendidos Por Estação</h1>
            </header>
            
            <section class="estacao">
                <div class="center">

                    <div class="itens">
                        <h2>Primavera</h2>
                        <div class="item" style="font-weight: bold;">
                            <span>Nome do Produto</span>
                            <span class="quantidade">Quantidade</span>
                        </div><!--item-->
                        {% for venda in vendas %}
                            {% if venda[3] >= 23 and venda[4] >= 9 and venda[3] <= 31 and venda[4] <= 12 %}
                                {% if venda[4] == 12 and venda[3] >= 22 %}
                                
                                {% else %}
                                <div class="item">
                                    <span>{{ venda[1] }}</span>
                                    <span class="quantidade">{{ venda[2] }}</span>
                                </div><!--item-->
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <div class="line"></div>
                    </div><!--itens-->

                    <div class="itens">
                        <h2>Verão</h2>
                        <div class="item" style="font-weight: bold;">
                            <span>Nome do Produto</span>
                            <span class="quantidade">Quantidade</span>
                        </div><!--item-->
                        {% for venda in vendas %}
                            {% if venda[3] >= 1 and venda[4] >= 1 and venda[3] <= 31 and venda[4] <= 3 %}
                                {% if venda[4] == 3 and venda >= 23 %}

                                {% else %}
                                <div class="item">
                                    <span>{{ venda[1] }}</span>
                                    <span class="quantidade">{{ venda[2] }}</span>
                                </div><!--item-->
                                {% endif %}
                            
                            {% else %}
                                {% if venda[3] >= 21 and venda[3] <= 31 and venda[4] == 12 %}
                                <div class="item">
                                    <span>{{ venda[1] }}</span>
                                    <span class="quantidade">{{ venda[2] }}</span>
                                </div><!--item-->
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <div class="line"></div>
                    </div><!--itens-->

                    <div class="itens">
                        <h2>Outono</h2>
                        <div class="item" style="font-weight: bold;">
                            <span>Nome do Produto</span>
                            <span class="quantidade">Quantidade</span>
                        </div><!--item-->
                        {% for venda in vendas %}
                            {% if venda[3] >= 21 and venda[4] >= 3 and venda[3] <= 31 and venda[4] <= 6 %}
                                {% if venda[4] == 6 and venda[3] >= 22 %}

                                {% else %}
                                    <div class="item">
                                        <span>{{ venda[1] }}</span>
                                        <span class="quantidade">{{ venda[2] }}</span>
                                    </div><!--item-->
                                {%endif%}
                            {% endif %}
                        {% endfor %}
                        <div class="line"></div>
                    </div><!--itens-->

                    <div class="itens">
                        <h2>Inverno</h2>
                        <div class="item" style="font-weight: bold;">
                            <span>Nome do Produto</span>
                            <span class="quantidade">Quantidade</span>
                        </div><!--item-->
                        {% for venda in vendas %}
                            {% if venda[3] >= 21 and venda[4] >= 6 and venda[3] <= 31 and venda[4] <= 9 %}
                                {% if venda[4] == 9 and venda[3] >= 23 %}
                                
                                {% else %}
                                    <div class="item">
                                        <span>{{ venda[1] }}</span>
                                        <span class="quantidade">{{ venda[2] }}</span>
                                    </div><!--item-->
                                {%endif%}
                            {% endif %}
                        {% endfor %}
                        <div class="line"></div>
                    </div><!--itens-->

                </div><!--center-->
            </section><!--estacao-->

            

        </main>
    </div><!--flex-->
    <script src="{{ url_for('static', filename='js/padrao.js') }}"></script>
    <script src="{{ url_for('static', filename='js/estacao.js') }}"></script>
</body>
</html>